body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
  color: #333;
}

a {
  text-decoration: none;
}

code {
  font-family: 'Nerd Font', monospace;
}

@font-face {
  font-family: 'Nerd Font';
  src: url('BookNerd.woff2') format('woff2'),
      url('BookNerd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nerd Font';
  src: url('BookNerdBold-Italic.woff2') format('woff2'),
      url('BookNerdBold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

.defs-only {
  position: absolute;
  height: 0;
  width: 0;
  overflow: none;
  left: -100%;
}